.buy-well {
    border: 1px solid #999;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    /*width: 500px;*/
}

.buy-well span {
    color: #000;
}

.buy-well input[type=text] {
    border: 1px solid #999;
    padding: 3px 3px;
    font-size: 18px;
    width: 300px;
}

.buy-well input[type=text]:focus {
    border: 1px solid #00b2fd;
    box-shadow: 0 0 4px #00c8ff;
}


.buy-well select {
    background: #fff;
    border: 1px solid #999;
    padding: 3px 3px;
    font-size: 18px;
    width: 308px;
}


.buy-form {
    /*width: 500px;*/
    /*outline: 1px solid #ff0000;*/

}

.buy-form label>span {
    display: inline-block;
    width: 120px;
    text-align: right;
    padding-right: 20px;
    font-size: 14px;
    line-height: 28px;
}

.pretty-price {
    position: absolute;
    top: 150px;
    right: 50px;
    vertical-align: top;
    padding-top: 15px;

}

.rub-big {
    font-size: 86px;
    line-height: 90px;
    font-weight: bold;
}

.btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
    background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background-color:#63b8ee;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    text-indent:0;
    border:1px solid #458cd6;
    display:inline-block;
    color:#14396a;
    font-family:Arial, Tahoma, sans-serif;
    font-size:18px;
    font-weight:bold;
    font-style:normal;
    height:45px;
    line-height:40px;
    /*width:131px;*/
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #7cacde;
    padding: 0 15px;
    cursor: pointer;
}
.btn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
    background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
    background-color:#468ccf;
}.btn:active {
     position:relative;
     top:1px;
 }